/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/

// ProcessFastq

process {

    withName: 'FASTQC:PreprocessFASTQC' {
        ext.when         = {}
        ext.args         = {}
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/FastQC/Raw" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SEQTK_SAMPLE' {
        ext.when         = {}
        ext.args         = {}
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/DownsampledFastq" },
            saveAs: { filename -> filename.equals('versions.yml') || !params.save_all ? null : filename }
        ]
    }

    withName: 'CUTADAPT_EXTRACTUMI' {
        ext.when         = {}
        ext.args         = {}
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/ExtractedUMI" },
            saveAs: { filename -> filename.equals('versions.yml') || !params.save_all ? null : filename }
        ]
    }

    withName: 'TRIMGALORE' {
        ext.when         = {}
        ext.args         = {}
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/TrimmedFastq" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FASTQC:PostprocessFASTQC' {
        ext.when         = {}
        ext.args         = {}
        publishDir       = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/FastQC/Processed" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}

params {
    skip_fastqc     = false
    skip_downsample = false
    umi_flag        = false
    skip_extractumi = true
    read_structure  = '8M143T 8M143T'
    skip_trimming   = false
}