/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for IDT Local/Remote Genomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
----------------------------------------------------------------------------------------
*/  s3://platform-poc-scratch/Test-Data/Genomes/hg19/
        
params {
    // illumina iGenomes reference file paths
    genomes {
        'IDT.hg19.remote' {
            fasta           = "${params.idt_base_remote}/Test-Data/Genomes/hg19/hg19_primary.fa"
            fasta_dict      = "${params.idt_base_remote}/Test-Data/Genomes/hg19/hg19_primary.dict"
            fasta_fai       = "${params.idt_base_remote}/Test-Data/Genomes/hg19/hg19_primary.fa.fai"
            bwamem2         = "${params.idt_base_remote}/Test-Data/Genomes/hg19"
        }
        'IDT.hg19.local' {
            fasta           = "${params.idt_base_local}/hg19/hg19_primary.fa"
            fasta_dict      = "${params.idt_base_local}/hg19/hg19_primary.dict"
            fasta_fai       = "${params.idt_base_local}/hg19/hg19_primary.fa.fai"
            bwamem2         = "${params.idt_base_local}/hg19"
        }
    }
}