process {

    withName: 'BWAMEM2_MEM' {
        ext.args         = { "-K 100000000 -R \"@RG\\tID:${meta.id}\\tSM:${meta.id}\\tLB:${meta.id}\\tPL:${meta.id}\\tPU:${meta.id}\" -C" }
        ext.prefix       = { "test.aligner.test.Aligned" }
    }

    withName: 'SENTIEON_BWAMEM' {
        ext.prefix       = { "test.aligner.test.Aligned" }
    }

    withName: 'PICARD_MARKDUPLICATES' {
        ext.args         = { '--CREATE_INDEX' }
        ext.prefix       = { "test.aligner.test.DupMarked" }
    }

    withName: 'SENTIEON_DEDUP' {
        ext.prefix       = { "test.aligner.test.DupMarked" }
    }
}